body {
  background-color: #dddddd;
}
h1 {
  text-align: center;
}
.banner {
  position: relative;
  width: 600px;
  height: 300px;
  margin: 200px auto;
}

/* warn */
.warn {
  position: absolute;
  top: 50px;
  left: 50%;
  width: 500px;
  height: 35px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px 0 20px;
  box-sizing: border-box;
  background-color: #F0F9EB;
  color: #93C78F;
  border-radius: 5px;
}
.warn span:nth-child(2) {
  display: inline-block;
  padding: 5px;
  color: #C5D3DE;
  cursor: pointer;
}
/* advert 广告滚动条 */
.advert {
  position: absolute;
  top: 0;
  left: 50%;
  width: 500px;
  height: 35px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0 0 0 10px;
  box-sizing: border-box;
  background-color: #FEF0F0;
  color: #F69C9B;
  border-radius: 5px;
}
.advert-icon {
  width: 20px;
}
.advert-text {
  flex: 1;
  height: 100%;
  overflow: hidden;
}
.advert-text-list {
  width: 200%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  animation: circleX 3s linear infinite;
  /* width: 100%;
  height: 100%;
  animation: circleY 1s linear infinite; */
}
@keyframes circleX {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(-50%, 0);
  }
}
@keyframes circleY {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(0, -100%);
  }
}
.advert-text-list-item {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}
/* pop */
.pop {
  display: none;
  position: absolute;
  width: 200px;
  padding: 15px;
  background-color: #ffffff;
  transform: translate(-50%, -100%);
  border-radius: 15px;
}
.pop::after {
  content: '';
  display: block;
  width: 0;
  height: 0;
  position: absolute;
  bottom: 0;
  left: 50%;
  border: 10px solid;
  border-color: #ffffff transparent transparent transparent;
  transform: translate(-50%, 100%);
  z-index: 999;
}
.pop-title {
  font-size: 18px;
  margin-bottom: 5px;
}

/* alert */
.alert-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.alert {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 300px;
  height: 200px;
  background-color: #ffffff;
  transform: translate(-50%, -50%);
}
.alert-title {
  height: 40px;
  padding: 0 0 0 15px;
  background-color: orange;
  color: #ffffff;
}
.alert-title-close {
  height: 100%;
  padding: 0 15px;
  font-size: 26px;
  transition: 0.3s;
  cursor: pointer;
}
.alert-title-close:hover {
  background-color: #ffffff;
  color: #000000;
}
.alert-content {
  padding: 15px;
  box-sizing: border-box;
}
.alert-bottom {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 40px;
  border-top: 1px solid #dddddd;
}
.alert-bottom button {
  background-color: orange;
  border: none;
  color: #ffffff;
  margin: 0 8px;
  padding: 5px 15px;
  cursor: pointer;
  border: 1px solid orange;
}
.alert-bottom button:first-child {
  color: orange;
  background-color: #ffffff;
}

/* 消息提示 */
.message {
  position: fixed;
  top: -100px;
  left: 50%;
  min-width: 300px;
  height: 50px;
  padding-left: 15px;
  box-sizing: border-box;
  background-color: #ff00ff;
  color: #ffffff;
  border-radius: 6px;
  transform: translate(-50%, 0);
}
.message.active {
  animation: dowm 1s forwards;
}
@keyframes dowm {
  0%{
    top: -100px;
  }
  100%{
    top: 30px;
  }
}
.message .iconfont {
  margin-right: 10px;
}
/* 加载动画 */
.loading-mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}
.loading {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.loading img {
  width: 60px;
  height: 60px;
  animation: rotate 1s linear infinite;
  transform-origin: center center;
}
@keyframes rotate {
  0% {
    transform: translate(-50%, -50%) rotate(0);
  }
  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}