.banner {
  width: 600px;
  height: 100px;
  margin: 200px auto;
}
.dateSelect {
  position: relative;
  width: 400px;
  height: 35px;
  background-color: #dddddd;
}
.dateSelect-text {
  width: 40px;
  height: 100%;
}
.dateSelect-start,
.dateSelect-end {
  width: 230px;
  height: 100%;
  padding: 0 0 0 10px;
  box-sizing: border-box;
  border: 1px solid #cccccc;
}
.dateSelect-start.active,
.dateSelect-end.active {
  border: 1px solid #62ABA0;
}


/* 日历 */
* {
  padding: 0;
  margin: 0;
}

ul {
  list-style-type: none;
}

#calendar {
  position: absolute;
  top: 40px;
  left: 50%;
  width: 350px;
  padding: 0 15px 15px 15px;
  border-radius: 10px;
  overflow: hidden;
  background-color: #dedede;
  transform: translate(-50%, 0);
  z-index: 9999;
}

.calendar-arrow {
  position: relative;
  width: 100%;
  height: 80px;
  font-size: 26px;
}

.calendar-left,
.calendar-right {
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
}

.calendar-weekdays {
  width: 100%;
  height: 50px;
  font-size: 16px;
  background-color: #E6F8FA;
  border-radius: 50px;
  margin-bottom: 10px;
}

.calendar-weekdays li {
  display: inline-block;
  width: 13.6%;
  text-align: center;
}

.calendar-list {
  height: 88%;
}

.calendar-days {
  display: inline-block;
  padding: 0;
  background: #ffffff;
  margin: 0;
  height: 90%;
  font-size: 12px;
  border-radius: 15px;
}

.calendar-days li {
  display: inline-block;
  width: 10%;
  height: 35px;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  transition: 0.3s;
  margin: 0 7.5px;
}
.calendar-days-li-item-one {
  position: relative;
  height: 100%;
}

.calendar-days li:hover {
  color: #62ABA0;
  background-color: #F6F8F7;
}
.calendar-days-li-item-one h4:nth-child(2) {
  font-size: 10px;
}

/* 不是本月的日期 */
.calendar-days li.other {
  color: #ccc;
}

/* 今日 */
.calendar-days li.active {
  background-color: #62ABA0;
  color: #ffffff;
}
.calendar-days li.tuifang {
  background-color: #FF6666;
  color: #ffffff;
}
.calendar-days li.activeColor {
  background-color: #F6F8F7;
  color: #62ABA0;
}

/* 今日之前的日期 */
.calendar-days li.hui {
  color: #ccc;
}