html,
body {
  width: 100%;
  height: 100%;
  background: #fffbf0;
}
* {
  margin: 0;
  padding: 0;
  outline: none;
  box-sizing: border-box;
  // 取消高亮
  -webkit-tap-highlight-color: transparent;
  // 禁止选择文字
  -moz-user-select: none; /*火狐*/
  -webkit-user-select: none; /*webkit浏览器*/
  -ms-user-select: none; /*IE10*/
  -khtml-user-select: none; /*早期浏览器*/
  user-select: none;
}
a {
  color: #ffffff;
  text-decoration: none;
}
input,
button {
  border: none;
}
#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  height: 100%;
}
// flex布局
$flex-jc: (
  start: flex-start,
  end: flex-end,
  center: center,
  between: space-between,
  around: space-around
);
$flex-ai: (
  start: flex-start,
  end: flex-end,
  center: center,
  stretch: stretch
);
.d-flex {
  display: flex;
}
.flex-column {
  flex-direction: column;
}
.flex-wrap {
  flex-wrap: wrap;
}
.flex-1 {
  flex: 1;
}
@each $key, $value in $flex-jc {
  .jc-#{$key} {
    justify-content: $value !important;
  }
}
@each $key, $value in $flex-ai {
  .ai-#{$key} {
    align-items: $value !important;
  }
}
// 文字溢出隐藏
.text-ellipsis {
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
// 文字对齐方式
$algin-text: (
  left: left,
  center: center,
  right: right
);
@each $key, $value in $algin-text {
  .text-#{$key} {
    text-align: $value !important;
  }
}
// 绝对定位 水平垂直居中
.positionCenter {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
// 遮挡层
.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
}
// 手指鼠标
.pointSB {
  cursor: pointer;
}
// 居中 1000px 中心区域宽度限制
.w {
  width: 62.5rem;
  margin: 0 auto;
}